#partie1{
    height:100px;
    background-color: blue;
    outline-style: solid;
    outline-width: 5px;
    outline-color: black;
    
}

.partie2{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 5%;
    margin-top:1em;
    
}

.partie3{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 5%;
    margin-top:1em;
}

.block{
height: 200px;
outline-style: solid;
outline-width: 5px;
outline-color: black;
}

#block1{
background-color: darkgreen;
}

#block2{
background-color:coral;
}

#block3{background-color: brown;}