#partie1{
    height:100px;
    background-color: blue;
}

.partie2{
    display: grid;
    grid-template-columns: 20% 75%;
    grid-gap: 5%;
    margin-top: 10px;
}

.block{
    height: 500px;
}

#block1{
    background-color: brown;
}

#block2{
    background-color: coral;
}
